# Core
NODE_ENV="development"
WEB_URL="http://localhost:3000"

# Database
DATABASE_NAME="App"
DATABASE_HOST="localhost"
DATABASE_PASSWORD="postgres"
DATABASE_USER="postgres"
DATABASE_PORT="5432"

# Email
MAILPIT_HOST="localhost"
MAILPIT_PORT="1025"

# Better auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="VjwK40C1CB4XuH5NhJAHcDwc5KS8tFmF3ONvVGd68Ww="

# Client
NEXT_PUBLIC_APP_NAME="App"
NEXT_PUBLIC_WEB_URL="http://localhost:3000"